url @import('https://fonts.googleapis.com/css2? family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

  body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo img{
    width: 500px;
    height: 350px;
    margin-left: -200px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px;
    margin: 20PX auto;
    padding-left: 15px;
    padding-right: 15PX;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.col2{
    flex-basis: 50%;
    min-width: 300px;
   
}
.col2 img{
    width: 100%;
    padding: 20px 0;
}
.col2 h1{
    font-size: 55px;
    line-height: 60px;
    
    margin-left: 70px;
}
.col2 P{
    font-size: 20px;
    color: #555;
    margin-left: 70px;
}
.col2 a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #03224C;
    margin-top:25px ;
    margin-left: 70px;
    transition: background 0.3ms;
}
.col2 a:hover{
    background:blue;
}
.headerSection{
    background: radial-gradient(#fff,#eaf2fb);
}
/*zone à propos*/
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #03224C;
    color: white ;
  } 
  .about-section
/*Notre équipe*/
.contenant {
    max-width: 1300px;
    margin: 20PX auto;
    padding-left: 15px;
    padding-right: 15PX;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.column{
    flex-basis: 50%;
    min-width: 300px;
   
}
.column img{
    width: 100%;
    padding: 20px 0;
}

  #titreTeam{
    text-align: center;
    font-size:  50px;
    line-height: 30px;

  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  } 
  
  
  .container2 {
    padding: 0 16px;
  } 
  
  .container2::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } 
  .container2 h2{
    text-decoration-line: underline;
  }
  
  .title {
    font-size: 20px;
    color: #555;
  } 
  .texte {
    color: #555;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #03224C;;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background 0.4s;
  } 
  
  .button:hover {
    background-color: blue;
  } 
  

  