{% extends 'store/base.html' %}

{% block content %}

    <hr>
    <h1 class="intro-text text-center">Merci !</h1>
    <hr class="detail-separator">
    <p>L'album <em>{{ album_title }}</em> vient d'être emballez spécialement pour vous. Une main délicate vous la livrera en 72H maximum! <em>{{ album_title }}</em> trépigne de chanter pour vous.</p>
    <hr>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZSbuikMdgqA" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}
