header{
  
}
nav{
    display: inline;
    margin: 0;
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    text-decoration: none;

  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: blue;
    t
  }
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  main{
    
    background-image:url("avenger2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    
  }
  body{
    margin: 0;
    margin-top: 0;
    position: relative;
  }
  #div2{
    position: relative;
    padding-top: 380px;
    position: ;
  }
  #div1{
    
    position: relative;
    top:46px;

  }
  h1{
    color: white;
    padding-left: 30px;

  }
  p{
    color: #ffffcc
    ;
    width: 600px;
    padding-left: 50px;
  }
  @media screen and(min-width: 768px) 
  and(max-width: 992px){
    h1{
      font-size: 35px;
    }
    ul{
      background-color: lightgreen; 
    }
    li a{
      color: white;
    }

    
  }
  @media screen and(min-width: 600px)
  and(max-width: 767px){
    h1{
      font-size: 35px;
    }
    ul{
      background-color: yellow; 
    }
    li a{
      color: black;
    }
  }
  
  @media screen and(min-width: 992px)
  and(max-width: 1200px){
    ul{
      background-color: red; 
    }
    li a{
      color: white;
    }
  }
  @media screen and(min-width: 1200px){
    ul{
      background-color: red; 
    }
    li a{
      color: white;
    }
  }
