header{
  
}
nav{
    display: inline;
    margin: 0;
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    text-decoration: none;

  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  main{
    
    background-image:url("avenger2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    
  }
  body{
    margin: 0;
    margin-top: 0;
    position: relative;
  }
  #div2{
    position: relative;
    padding-top: 390px;
    position: ;
  }
  #div1{
    
    position: relative;
    top:46px;

  }
  h1{
    color: white;
    padding-left: 30px;

  }
  p{
    color: #ffffcc
    ;
    width: 600px;
    padding-left: 50px;
  }